.footer__copyring {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 0 auto;
    color: #FFFFFF;
    
}

@media screen and (max-width: 1279px) {
    .footer__copyring {
        margin: 0 0 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .footer__copyring {
        margin: 0 0 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .footer__copyring {
       margin: 0 0 24px 16px;
    }
}