.cover__link {
    display: block;
    background: rgba(42, 44, 47, 0.3);
    max-width: 1184px;
    margin: 0 auto;
    height: 740px;
    text-decoration: none;
}

@media screen and (max-width: 1280px) {
    .cover__link {
        min-height: 740px;
        
    }
}


@media screen and (max-width: 1024px) {
    .cover__link {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__link {
        min-height: 480px;
    }
}

@media screen and (max-width: 680px) {
    .cover__link {
        min-height: 200px;
    }
}

.cover__link:hover {
    background: rgba(42, 44, 47, 0.8);
    height: 740px;
}