.footer__copyring {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    Line-height: 16px;
    max-width: 186px;
    min-height: 16px;
    margin: 0;
    color: #FFFFFF;
    padding-left: 533px;
}

@media screen and (max-width: 1280px) {
    .footer__copyring {
        padding-left: 533px;
    }
}

@media screen and (max-width: 1150px) {
    .footer__copyring {
        padding-left: 277px;
    }
}

@media screen and (max-width: 960px) {
    .footer__copyring {
        padding-left: 69px;
    }
}

@media screen and (max-width: 600px) {
    .footer__copyring {
        padding-left: 0;
    }
}