  .place__image {
        object-fit: cover;
        object-position: center;
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        margin: 0;
    }

@media screen and (max-width: 1024px) {
    .place__image {
        width: 440px;
        height: 440px;

    }
}

@media screen and (max-width: 800px) {
    .place__image {
        width: 340px;
        height: 340px;
    }
}

@media screen  and (max-width: 650px) {
    .place__image {
        width: 320px;
        height: 320px;
        grid-row: 3;
        box-sizing: border-box;
    }
}