.cover__subtitle {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: regular;
    font-weight: 400;
    line-height: 1.22;
    font-size: 18px;
    max-width: 360px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 32px;

}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        padding-top: 28px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        text-align-last: center;
        padding-top: 34.2px;
    }
}

@media screen and (max-width: 680px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 22px;
        max-width: 94%;
        padding-top: 15px;
    }
}