

@media screen and (min-widht: 1025px) and (max-widht: 1280px) {
    .header {
        position: relative;
        height: calc(100% - 96px);
        width: 52px;
       
    }
}

@media screen and (min-widht: 768px) and (max-widht: 1025px) {
    .header {
        position: relative;
        height: calc(100% - 96px);
        width: 52px;
    }
}

@media screen and (min-widht: 425px) and (max-widht: 768px) {
    .header {
        position: relative;
        height: calc(100% - 48px);
        width: 52px;
    }
}

@media screen and (max-widht: 424px) {
    .header {
        position: relative;
        height: calc(100% - 32px);
        width: 52px;
    }
}
