.header__link-RU {
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px; 
    line-height: 28px; 
    height: 28px;
    width: 30px;
}

@media screen and (max-width: 425px) {
    .header__link-RU {
        color: #FFFFFF;
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 92%;
    } 
}
