.place__paragraph {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 484px;
    grid-column: 2;
}

.place__paragraph:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 340px;
        word-spacing: 0.3px;
        font-size: 15.5px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 650px) {
    .place__paragraph {
        max-width: 288px;
        grid-column: 1;
        grid-row: 4;
        padding: 0 16px;
    }
}