.place__paragraph {
    max-width: 484px;
    grid-column: 2;
    grid-row: 2;
    margin: 0 auto;
    color: #FFFFFF;

}

@media screen and (max-width: 1280px) {
    .place__paragraph {
        max-width: 484px;
        grid-column: 2;
        grid-row: 2;
        color: #FFFFFF;
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        max-width: 484px;
        grid-column: 2;
        grid-row: 2;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 340px;
        grid-column: 2;
        grid-row: 2;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 650px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
        max-width: 288px;
        grid-column: 1;
        grid-row: 4;
        color: #FFFFFF;
        padding-left: 15px;
        margin: 0;
    }
}