.intro__text {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 40px 0 33px;
    max-width: 690px;
    min-height: 208px;
    color: #FFFFFF;
}


@media screen and (min-width: 1180px) {
    .intro__text {
        max-width: 690px;
        min-height: 208px;
    }
}

@media screen and (max-width: 425px) {
    .intro__text {
        font-size: 16px;
        padding: 40px 0 34px;
        max-width: 288px;
        min-height: 520px;
    }
}