.cover {
    background-image: url(../../Image/__background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-origin: border-box;
    max-width: 1184px;
    width: 100%;
    position: relative;
    object-position: center;
    margin: 92px auto;
}

@media screen and (max-width: 880px) {
    .cover {
        margin: 90px 0 88px;
    }
}

@media screen and (max-width: 600px) {
    .cover {
        margin: 66px auto 64px;
    }
}