@font-face {
    @font-face {
        font-family: 'Inter';
        font-style:  normal;
        font-weight: 900;
        font-display: swap;
        src: local('Inter'),
            url("Inter-Black.woff2?v=3.19") format("woff2"),
            url("Inter-Black.woff?v=3.19") format("woff");
      } 
}

.cover__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    border: 2px solid red;
    width: 560px;
    height: 152px;
}