.place {
    display: grid;
    grid-template-columns: minmax(min-content, 460px) minmax(min-content, max-content);
    grid-template-rows: min-content;
    justify-content: center;
    grid-auto-flow: column;
    row-gap: 48px;
    column-gap: 40px;
    width: calc(100% - 296px);
    max-width: 984px;
    margin: 80px auto;
}

@media screen and (max-width: 1180px) {
    .place {
        grid-template-columns: repeat(auto-fill, minmax(min-content, max-content)) ;
        column-gap: 32px;
        width: calc(100% - 96px);
    }
}
/*Я искал золотую серединк*/
@media screen and (max-width: 800px) {
    .place {    
        grid-template-columns: repeat(auto-fill, minmax(340px, max-content));
        grid-auto-flow: row;
        width: calc(100% - 48px);
        column-gap: 28px;
        margin: 73px auto 0;
    }    
}

@media screen and (max-width: 425px) {
    .place {
        grid-template-columns: repeat(auto-fill, 320px);
        grid-template-rows: repeat(auto-fill 320px);
        width: calc(100% - 32px);
        row-gap: 32px;
        margin: 50px auto;
    }
}