.place {
    display: grid;
    grid-template-columns: minmax(460px, max-content), minmax(min-content, max-content);
    grid-template-rows: min-content;
    justify-items: stretch;
    grid-auto-flow: column;
    row-gap: 48px;
    column-gap: 40px;
    margin: 50px auto ;
    padding: 0 ;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: minmax(440px, max-content), minmax(min-content, max-content);
        column-gap: 32px;
        padding: 0;
    }
}

@media screen and (max-width: 800px) {
    .place {
        column-gap: 28px;
        padding: 0 24px;
        grid-template-columns: 340px, minmax(min-content, max-content);
        grid-template-rows: min-content;
        grid-auto-flow: column;
        row-gap: 48px;
        max-width: 720px;
        margin-top: 73px;
    }
}

@media screen and (max-width: 600px) {
    .place {
        grid-template-rows: repeat(4, min-content);
        grid-auto-flow: row;
        grid-auto-rows: auto;
        align-items: stretch;
        row-gap: 32px;
        padding: 0;
        max-width: 320px;
        justify-items: flex-start;
        margin: 0 auto;
    }
}