.footer {
    display: flex;
    flex-direction: row;
    width: calc(100% - 96px);
    max-width: 1184px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 0 23px 0;
}

@media screen and (max-width: 768px) {
    .footer {
        width: calc(100% - 48px);
    } 
}

@media screen and (max-width: 600px) {
    .footer {
        width: calc(100% - 32px);
        flex-direction: column;
    } 
}