.footer {
    display: flex;
    flex-direction: row;
    max-width: 1184px;
    min-height: 18px;
    margin: 0 auto;
}

@media screen and (max-width: 1020px) {
    .footer {
        margin: 0 24px;
    } 
}

@media screen and (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
        max-width: 1184px;
        min-height: 18px;
        margin: 0;
    } 
}