.intro__title {
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin: 92px 0 0 148px;
    font-size: 54px;
    line-height: 58px;
    max-width: 690px;
}

@media screen and (max-width: 1050px) {
    .intro__title {
        margin: 92px 0 0 48px;
    }
}

@media screen and (max-width: 860px) {
    .intro__title {
        margin: 88px 24px 0;
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .intro__title {
        margin: 64px 0 0 16px;
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
    }
}