.intro__title {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    margin: 0;
    font-size: 54px;
    line-height: 1.07;
    max-width: 720px;
    min-height: 58px;
}

@media screen and (min-width: 1280px) {
    .intro__title {
        font-size: 54px;
        line-height: 1.07;
        max-width: 690px;
        min-height: 58px;
    }
}

/*
@media screen and (max-width: 1024px) {
    .intro__title {
        font-size: 54px;
        line-height: 1.07;
        max-width: 690px;
        min-height: 58px;
    }
}

@media screen and (max-width: 768px) {
    .intro__title {
        font-size: 54px;
        line-height: 1.07;
        max-width: 720px;
        min-height: 58px;
    }
}
*/
@media screen and (max-width: 425px) {
    .intro__title {
        padding-right: 70px;
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
        min-height: 70px;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        padding-right: 70px;
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
        min-height: 70px;
    }
}